name: Actor Workflow

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print a message
        run: echo "hello liel is the queen"

      - name: Print the actor
        run: echo "The actor is: ${{ github.actor }}"
