name: Add simple GitHub Actions workflow

on:
  push:
    branches: [ "main" ]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print a message
        run: echo "Hello from liel the queen!"
      - name: Print the actor
        run: echo "The actor is: ${{ github.actor }}"
